p + ul
{
    margin-top: -10px;
}

.qed
{
	width: 100%;
	position: relative;
}

.qed::after
{
	content: '⬛︎';
	font-size: 1rem;
	position: absolute;
	right: 0;
}

.finns-inte
{
	color: rgb(184, 8, 8);
	text-decoration: underline;
	cursor: not-allowed;
}

small
{
	color: gray;
}